@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 269 26% 19%;
    --foreground: 270 25% 80%;
    --muted: 269 12% 23%;
    --muted-foreground: 269 12% 73%;
    --popover: 269 26% 16%;
    --popover-foreground: 270 25% 90%;
    --card: 269 26% 17%;
    --card-foreground: 270 25% 85%;
    --border: 269 16% 24%;
    --input: 269 16% 27%;
    --primary: 270 27% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 17% 75%;
    --secondary-foreground: 270 17% 15%;
    --accent: 269 26% 34%;
    --accent-foreground: 269 26% 94%;
    --destructive: 6 82% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 27% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}